*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
}


.boxtext{
    display: inline-block;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #000440;
    width: 582px;
    margin-bottom: 47px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #333f58;
    width: 493px;
    margin-bottom: 55px;
}

.bottom-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color:#6FBF44;
    cursor: pointer;
}

.bottom-link:hover{
    color: #778899;
}

.header-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color:#6FBF44 ;
    margin: 47px 28px 0px 42px;
    cursor: pointer;
}

.header-link:hover{
    color: #3d3f74	;
}

button{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 1px;
    width: 130px;
    height: 51px;
    border: none;
    margin-left: 32px;
    margin-top: 30px;
    cursor: pointer;
    color:#ffffff;
    
}

button:hover{
    background-color: #3d3f74;
    color:#6FBF44
}

.box-header{
    width: 100vw;
    height: 120px;
    background-color: #161A49;
    border-bottom: solid 4px #4CB538;
}


img{
    display: inline-block;
    width: 595.18px;
    height: 500px;
    margin: 246px 84px 0px 121px ;
}

.box-footer{
    width: 100vw;
    height: 90px;
    background-color: #161A49;
    margin-top: 250px;
    border-top: solid 4px #4CB538;
}

.link-footer{
    color: #778899 ;
    font-weight: 400;
    font-size: 16px;
    margin: 25px 60px 0px 65px ;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.link-footer:hover{
    color:#4CB538;
}

#copy{
    position: relative;
    left: 1300px;
    color: #474a51;
    bottom: 10px;
}

@media screen and (max-width:1386px){
    .boxtext{
        margin-left: 170px;
        margin-top: 15px;
    }
}

@media screen and (max-width:1003.50px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        height: 100%;
        width: 100%;
    }


    img{
        position: relative;
        margin: 0;
        width: 312px;
        left: 125px;
        height: 288px;
        margin: 490px 39px 0 39px;
        position: relative;
        display: block;
    }

    .boxtext{
        margin: 60px;
        display: block;
        position: relative;
        bottom:650px;
        align-items: center;
        width: 100vw;
    }

    .box-footer{
        display: none;
    }

    .header-link{
        display: none;
    }

    .box-header{
        position: relative;
        min-width: 565px;
        
    }

    h1{ margin: 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        color: #161A49;
        position: relative;
        bottom: 90px;
        width: 278px;
        height: 60px;
        margin-left: 125px;
        
    }

    .bottom-link{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #6FBF44;
        cursor: pointer;
        margin-left: 200px;
    }

    p{
        
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4B505A;
       
    }

    button{
        margin-left: 417px;
    }
}